.card__word {
    display:flex;
    flex-flow: column;
    align-items: center;
}

.content {
    font-family: 'Days One', sans-serif;
}

.button {
    font-family: 'Days One', sans-serif;
    cursor: pointer;
    transition: ease-out;
    &:hover {
        transform: scale(1.1);
        }
}
